 html, body { 
    height: 100%; 
    background-size: 100% /* This makes it so that the entire image is scaled to fit the whole page */;
    margin: 0;
}

/* Animation for rainbow text */
@keyframes rainbow-text {
    0% { color: red; font-size: 42.5px;}
    14% { color: orange; font-size: 42.5px;}
    28% { color: yellow; font-size: 45px;}
    42% { color: green; font-size: 47.5px;}
    57% { color: blue; font-size: 50px;}
    71% { color: indigo; font-size: 47.5px;}
    85% { color: violet; font-size: 45px;}
    100% { color: red; font-size: 42.5px;}
}

strong {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:red
}

/* Header */
.h1 {
    background-image: url("https://img.freepik.com/free-photo/black-smooth-wall-textured-background_53876-124461.jpg?semt=ais_hybrid&w=740&q=80");
    padding: 7.5%;
    height: 10%;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;              /* enables flexbox */
    justify-content: center;    /* horizontal centering always! */
    align-items: center;   
}
h1 {
    text-align: center; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: rainbow-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Nav Bar*/
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41, 0.85);
    top: 0;
}

nav li {
    float: left;
    padding-top: 10px; padding-bottom: 10px;
 }

nav li a {
    color: white;
    width:100%;
    height:100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgba(0, 131, 9, 0.5);
    border-radius: 10px;
}

/* Homepage */
#gallery {
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/941/002/non_2x/small-hexagon-shape-with-light-white-and-grey-color-seamless-pattern-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-color: rgb(185, 219, 255);
    padding: 5px;
    overflow: auto;
    margin-left: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: auto;
}

/* Main Shop Page */
#link-plushie, #korok-cup {
        border:3px rgb(0, 0, 0) solid;
        border-radius:15px;
        padding: 10px;
        float: right;
        margin-right: 5%;
        background-color: rgb(255, 183, 183);
        color: rgba(33, 33, 33, 0.8);
        font-family: "Comic Sans MS";
        width: 800px;
        height: 300px;
        margin-bottom: 7%;
    }
    
#ganondorf-backpack {
        border:3px rgb(0, 0, 0) solid;
        border-radius:15px;
        padding: 10px;
        float: left;
        margin-left: 5%;
        background-color: rgb(147, 208, 255);
        color: rgba(33, 33, 33, 0.8);
        font-family: "Comic Sans MS";
        width: 800px;
        height: 300px;
        margin-bottom: 7%;
    }
#totk-journal {
        border:3px rgb(0, 0, 0) solid;
        border-radius:15px;
        padding: 10px;
        float: left;
        margin-left: 5%;
        color: rgba(33, 33, 33, 0.8);
        font-family: "Comic Sans MS";
        background-color: rgb(147, 208, 255);
        font-size: clamp(8px, 5vw, 15px);
        width: 800px;
        height: 320px;
        margin-bottom: 7%;

    }
.image {
    float: left;
    cursor: url(star-5pt-outline.svg) 12 12, auto;
    margin-right:10px;
    margin-bottom:10px
}


#totk-image {
    float: left;
    margin-right:20px;
    padding-bottom:10px;
    margin-bottom: 20px
}
button {
    background-color:black;
    font-family: fantasy;
    font-size: 13px;
    width: 110px; height: 40px;
    color: white;
    border: 3px yellow groove;
    border-radius: 10px;
}

button:hover {
    background-color:green;
    cursor: pointer;
    width: 15%; /*keep in mind, width and height are based on the container of the button's dimensions! */
    height: 15%
}
button:active {
    background-color: purple;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table, td, th, tr {
    border: 2px solid black;
    border-collapse: collapse
}

.price-table {
    clear: both;
}
.price-table table {
    background-color: aqua;
    margin: 0 auto;
}



/* Checkout Page*/
#flexbox {
    display: flex;
    justify-content: space-evenly; /* centers the .checkout-card divs horizontally */
    align-items: flex-start;     /* centers the .checkout-card divs vertically */
    flex-direction: row;  /* arranges the .checkout-card divs in a row */
    flex-wrap: wrap;         /* allows the .checkout-card divs to wrap to the next line if necessary */
    gap: 10px;               /* adds space between the .checkout-card divs */
    margin-bottom: 20px;    /* adds some space below the flexbox container */
}

.checkout-image {
    max-width: 50%;
    max-height: 50%; /* These 2 settings ensure that the items NEVER overflow the <div> even as the screen size changes */
}

.checkout-card {
    font-family: Arial, Helvetica, sans-serif;
    height: 20%;
    width: 20%;
    text-align: center;
    background-color: rgb(180, 255, 180);
    border: 2px black solid;
    border-radius: 8px;
    padding: 5px;
}

.checkout-table {
    clear: both;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.checkout-table th, .checkout-table td {
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
}

.checkout-table th {
    background-color: rgb(255, 255, 0);
    color: black;
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clear:both
}
